.loginsignup{
    background: #fce3fe;
    width: 100%;
    height: 710px;
    padding-top: 100px;
}

.loginsignup-container{
    background: white;
    width: 580px;
    height: 510px;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1{
    margin: 20px 0px;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.loginsignup-fields input{
    border: 1px solid #c9c9c9;
    outline: none;
    height: 50px;
    width: 100%;
    padding-left: 20px;
    color: #5c5c5c;
    font-size: 13px;
}

.loginsignup-container button{
    width: 100%;
    height: 50px;
    color: white;
    background: #ff4141;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 30px;
}

.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
}

.loginsignup-agree{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}