.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu li a{
    color: #626262;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-login-cart button{
    width: 157px;
    height: 58px;
    background: white;
    border: 1px solid #7a7a7a;
    border-radius: 30px;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    color: #515151;
    cursor: pointer;
}

.nav-login-cart button:active{
    background: #f3f3f3;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    margin-left: -38px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}