.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
    height: 90vh;
    margin: 120px auto;
    
}

.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    height: 6px;
    border: 2px solid #252525;
    border-radius: 10px;
    background: #252525;
}

.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

/* .popular-item .item{
    width: 200px;
    background-size: cover;
} */